<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ site_title }} | {{ meta.job }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ meta.description|striptags }}" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="{{ site_title }}"/>
	<meta property="og:image" content="{% if meta.img %} {{ meta.img }} {% else %} {{ theme_url }}/images/bg_img.jpg {% endif %}"/>
	<meta property="og:url" content="{{ base_url }}"/>
	<meta property="og:site_name" content="{{ site_title }}"/>
	<meta property="og:description" content="{{ meta.description|striptags }}"/>
	<meta name="twitter:title" content="{{ site_title }}" />
	<meta name="twitter:image" content="{% if meta.img %} {{ meta.img }} {% else %} {{ theme_url }}/images/bg_img.jpg {% endif %}" />
	<meta name="twitter:url" content="{{ base_url }}" />
	<meta name="twitter:card" content="summary" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{{ theme_url }}/favicon.ico">

	<!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ theme_url }}/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ theme_url }}/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ theme_url }}/css/bootstrap.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ theme_url }}/css/style.css">

	<!-- Modernizr JS -->
	<script src="{{ theme_url }}/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{ theme_url }}/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body style="background-image: {% if meta.img %} url({{ meta.img }}) {% else %} url({{ theme_url }}/images/bg_img.jpg){% endif %} ;">
	
	<div id="fh5co-main">
		<div class="fh5co-tab-wrap">
			<ul class="fh5co-tab-menu">
				<li class="active"><a href="#" data-tab="1"><span class="icon icon-glass"></span><span class="menu-text">Profile</span></a></li>
				<li><a href="#" data-tab="2"><span class="icon icon-graduation-cap"></span><span class="menu-text">Education</span></a></li>
				<li><a href="#" data-tab="3"><span class="icon icon-black-tie"></span><span class="menu-text">Experience</span></a></li>
				<li><a href="#" data-tab="4" data-pie="yes"><span class="icon icon-fighter-jet"></span><span class="menu-text">Skills</span></a></li>
			</ul>
			<div class="fh5co-tab-content active" data-content="1">
				<div class="fh5co-content-inner text-center">
					<div class="row row-bottom-padded-sm">
						<div class="col-md-12">
							<figure>
								<img src="{{ meta.prof }}" class="img-circle" height="175" width="175" alt="{{ site_title }}">
							</figure>
							<h1>{{ site_title }}</h1>
							<p>{{ meta.description }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 fh5co-counter">
							<div class="fh5co-number fh5co-left">{{ meta.expn }}</div>
							<div class="fh5co-text">
								<h3 class="border-bottom">Years of experience as {{ meta.job }}</h3>
							</div>
						</div>
					</div>
					<ul class="fh5co-social">
						<li><a href="mailto:{{ meta.email }}"><i class="icon-envelope"></i></a></li>
					{% for link,icon in meta.social %}
						<li><a href="{{ link }}"><i class="icon-{{ icon }}"></i></a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
			<div class="fh5co-tab-content" data-content="2">
				<div class="fh5co-content-inner">
					<div class="row">
						<div class="col-md-12">
						{% for year,degree in meta.edu %}
							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-graduation-cap"></i>
								</div>
								<div class="fh5co-text">
									<h2>{{ year }}</h2>
									<p>{{ degree }}</p>
								</div>
							</div>
						{% endfor %}
						</div>
						
					</div>
				</div>
			</div>
			<div class="fh5co-tab-content" data-content="3">
				<div class="fh5co-content-inner">
					<div class="row">
						<div class="col-md-12">

							<p>I have the privilege to work with these cool companies.</p>
							{% for period,company in meta.exp %}
							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-black-tie"></i>
								</div>
								<div class="fh5co-text">
									<h2>{{ period }}</h2>
									<h3>{{ company }}</h3>
								</div>
							</div>
							{% endfor %}
							

						</div>
						
					</div>
				</div>
			</div>
			<div class="fh5co-tab-content" data-content="4">
				<div class="fh5co-content-inner">
					<div class="row">
						{% for percent,name in meta.skill %}
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="{{ percent }}"><span><strong>{{ name }}</strong>{{ percent }}%</span></div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
		<footer id="fh5co-footer">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<small>
						&copy; 2016 {{ site_title }}. All Rights Reserved. 
						<span class="fh5co-author">Designed by <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> Developed by <a href="http://besrourms.github.io" target="_blank">Mohamed Safouan Besrour</a></span>
					</small>
				</div>
			</div>
		</footer>
	</div>
	
	<!-- jQuery -->
	<script src="{{ theme_url }}/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script async src="{{ theme_url }}/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script async src="{{ theme_url }}/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script async src="{{ theme_url }}/js/jquery.waypoints.min.js"></script>
	<!-- Easy PieChart -->
	<script async src="{{ theme_url }}/js/jquery.easypiechart.min.js"></script>
	<!-- MAIN JS -->
	<script src="{{ theme_url }}/js/main.js"></script>

	</body>
</html>